.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content > * {
  width: 100%; /* Assurez-vous que chaque section occupe toute la largeur */
  margin-top: 30px; /* Espace entre les sections, ajustez cette valeur selon vos besoins */
}

.about-me, .languages, .projects {
  width: 80%; /* Réduire la largeur des sections pour un meilleur alignement centré */
  max-width: 1200px; /* Limite maximale pour la largeur */
}

.about-me {
  padding: 40px;
  border-radius: 8px;
}

.languages {
  padding: 20px;
  border-radius: 8px;
}

.projects {
  padding-top: 20px;
  padding-bottom: 100px;
  border-radius: 8px;
}

@media (max-width: 1200px){
  .main-content > * {
    width: 100%; /* Assurez-vous que chaque section occupe toute la largeur */

  }
  
  .about-me, .languages, .projects {
    width: 80%; /* Réduire la largeur des sections pour un meilleur alignement centré */
    max-width: 800px; /* Limite maximale pour la largeur */
  }
}

@media (max-width: 720px){
  .main-content > * {
    width: 100%; /* Assurez-vous que chaque section occupe toute la largeur */
    
  }
  
  .about-me, .languages, .projects {
    width: 80%; /* Réduire la largeur des sections pour un meilleur alignement centré */
    max-width: 500px; /* Limite maximale pour la largeur */
  }
}

@media (max-width: 412px){
  .main-content > * {
    width: 100%; /* Assurez-vous que chaque section occupe toute la largeur */
    
  }
  
  .about-me, .languages, .projects {
    width: 80%; /* Réduire la largeur des sections pour un meilleur alignement centré */
    max-width: 500px; /* Limite maximale pour la largeur */
  }
}