.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(to right, #787c7b, #4375ae);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Assurez-vous que la navbar est au-dessus des autres éléments */
  }
  
  .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  
  .navbar-links li a:hover {
    text-decoration: underline;
  }
  
  body {
    padding-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
  }
  