.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content > * {
  width: 100%; /* Assurez-vous que chaque section occupe toute la largeur */
  margin-top: 30px; /* Espace entre les sections, ajustez cette valeur selon vos besoins */
}

.about-me, .languages, .projects {
  width: 80%; /* Réduire la largeur des sections pour un meilleur alignement centré */
  max-width: 1200px; /* Limite maximale pour la largeur */
}

.about-me {
  padding: 40px;
  border-radius: 8px;
}

.languages {
  padding: 50px;
  border-radius: 8px;
}

.projects {
  padding: 50px;
  border-radius: 8px;
}